header.header
  .container
    .row
      .col-3
        .inner-logo
          a(href='/') 
            img(src='/images/logo', alt='')
      .col-9
        .inner-menu
          ul
            li
              a(href='/') Trang chủ
            li
              a(href='/products') Danh sách sản phẩm
