/* Header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100px;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin: 0 20px;
}
/* End header */

/* Footer */
.footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
}
